body, button, input {
    font-family: 'Titillium Web', sans-serif;
    font-size: 3vmin;
}

input[type='checkbox'] {
    margin: 0px;
    width: 6vmin;
    height: 6vmin;
}

body {
    display: grid;
    gap: 3vmax;
    margin: 0px;
}

h1 {
    font-size: 7vmin;
    font-weight: 700;
    padding-left: 1em;
}

#countdown-timer {
    font-family: 'Courier Prime', monospace;
    font-size: 18vmin;
    text-align: center;
}

#countdown-section-desc {
    font-size: 4vmin;
    display: grid;
    justify-content: center;
    justify-items: center;
}

#button-container {
    display: grid;
    padding: 0 10vmin 0 10vmin;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    height: 150%;
}

.action-button {
    width: 60%
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    row-gap: 1vmin;
}